APP_NAME=skeleton
APP_ENV=dev #测试环境 dev  正式环境 prod

#电影数据库配置
DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=hyperf
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci
DB_PREFIX=

#云瞻平台数据库配置
DB_YZ_DRIVER=mysql
DB_YZ_HOST=localhost
DB_YZ_PORT=3306
DB_YZ_DATABASE=hyperf
DB_YZ_USERNAME=root
DB_YZ_PASSWORD=
DB_YZ_CHARSET=utf8mb4
DB_YZ_COLLATION=utf8mb4_unicode_ci
DB_YZ_PREFIX=

#redis配置
REDIS_HOST=localhost
REDIS_AUTH=(null)
REDIS_PORT=6379
REDIS_DB=0

#h5页面地址
H5_DOMAIN=''
#云瞻接口地址
YZ_DOMAIN=''
#当前域名
INDEX_DOMAIN=''

#守兔配置
SHOUTU_MOIVE_URL=
SHOUTU_MOIVE_APPKEY=
SHOUTU_MOIVE_APPSECRET=